<!DOCTYPE html> 
<html> 
  
<head> 
    <!--Import Google Icon Font-->
    <link href= 
"https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet"> 
  
    <!-- Compiled and minified CSS -->
     
  <link rel="stylesheet" href= 
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <script type="text/javascript" src= 
"https://code.jquery.com/jquery-2.1.1.min.js"> 
    </script> 
  
    <!-- Let browser know website is 
        optimized for mobile -->
    <meta name="viewport" content= 
        "width=device-width, initial-scale=1.0" /> 
        <link rel="stylesheet" href= "style.css">
    <title>Let's talk Technology</title>
</head> 
  
<header class ="home"> 
    <nav class="navbar"> 
        <div class="nav-wrapper pink darken-1"> 
            <a href="#" class="brand-logo">My Tech blog</a> 
              
            <ul id="nav-mobile" class= 
                "right hide-on-med-and-down"> 
                {{#if loggedIn}}
                <li><a href= "/">Homepage</a></li> 
                <li><a href= "">Dashboard</a></li> 
                <li><a href= "">Sign In</a></li> 
            </ul> 
        </div> 
        {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
            {{!-- <a href="/login" class="button is-primary">login</a> --}}
            {{/if}}
    </nav> 
  </header>
  <main>
      {{{body}}}
  </main>
    <!-- Compiled and minified JavaScript -->
    <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"> 
    </script> 
</body> 
  
</html> 